<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  <h3> <%= link_to post.title, post %> </h3>
  <p align="right">Posted <%= time_ago_in_words(post.created_at) %></p>
  <hr>
<% end %>
<br>
